<div class=container">
  <div class="row">
    <div class="col-sm-6">
        <strong>error:</strong>
    </div>
    <div class="col-sm-6">
      <%= @status %>
    </div>
  </div>
</div>

<h1>Error Page</h1>
<p>
  <h1><%= t @sometext %></h1>

</p>
<h1><%= t :hello %></h1>

<p>
  Trenutno nismo u mogućnosti vam pružiti uslugu
</p>

<div class="jumbotron text-center">
  <h1>Error Page</h1>
  <p>Trenutno nismo u mogućnosti Vam prikazati podatke vezane uz vašu dostavu narudžbe</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3 class="text-black-50">Greška:</h3>
      <p class="text-black-50">Tekst:</p>
    </div>
    <div class="col-sm-5">
      <h3 class="text-white-50 bg-dark">Razlog greške:</h3>
      <p class="text-white-50 bg-dark"><%= @status %></p>
    </div>
    <div class="col-sm-4">
      <h3>Rješenje</h3>
      <p>Pokušajte ponovo kliknuti poveznicu</p>
    </div>
  </div>
</div>
