<div class="jumbotron text-center text-white-50 bg-primary">
  <p class="text-white-50">White text with 50% opacity on black background  <% @orderid %></p>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Label</th>
          <th>Vrijednost</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @status.each do |status| %>
        <tr>
          <td>status</td>
          <td><%= status.SAPorderNumber %></td>
        </tr>
          <tr>
            <td>status</td>
            <td><%= status.deliveryStatus %></td>
          </tr>
          <tr>
            <td>dostava</td>
            <td><%= status.expressDelCom %></td>
          </tr>
          <tr>
            <td>datum</td>
            <td><%= status.datetime %></td>
          </tr>
          <tr>
            <td>neki broj</td>
            <td><%= status.HUnumberExt %></td>
          </tr>
          <tr>
            <td>ime</td>
            <td><%= status.address.name1 %></td>
          </tr>
          <tr>
            <td>telefonski broj</td>
            <td><%= status.address.telNumber %></td>
          </tr>
          <tr>
            <td>ulica</td>
            <td><%= status.address.street %></td>
          </tr>
          <tr>
            <td>grad</td>
            <td><%= status.address.city %></td>
          </tr>
          <tr>
            <td>poštanski broj</td>
            <td><%= status.address.postalCode %></td>
          </tr>
          <tr>
            <td><hr/></td>
            <td><hr/></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
