<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A1 Delivery Status Tracking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid text-white-50 bg-danger">
      <div class="container">
        <div class="row">
          <div class="jumbotron text-center bg-danger">
            <h1>A1</h1>
            <h3>Delivery Status Tracking</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-white-50 bg-primary">
      <div class="container">
        <div class="jumbotron text-center bg-primary">
          <h2>Stanje vaše pošiljke</h2>
          <h3><%= Time.now.strftime("%d.%m.%Y.") %></h3>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class=container">
        <div class="row justify-content-md-between">
            <div class="col-12 col-md-6 col-lg-8 d-none d-md-block">
                <span class="text-gray-40 w-full d-block mb-4 text-sm text-right">Pratite nas na</span>
                <ul class="justify-content-md-end list-unstyled">
                    <li>
                      <a href="https://www.facebook.com/A1Hrvatska/"
                        target="blank" class="block-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white-50 bg-danger">
      <div class="row justify-content-md-between">
        <div class="col-12 col-md-3 mb-4">
          <span class="d-block font-serif font-bold text-center md:text-left">© 2020 A1 Hrvatska</span>
        </div>

        <div class="col-12 col-md-9 mb-16 md:mb-6">
          <ul class="d-flex flex-wrap justify-content-center justify-content-md-end list-unstyled">
            <li class="mb-2 px-1">
              <a href="https://www.a1.hr/" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Hrvatska</a>
            <li class="mb-2 px-1">
              <a href="https://www.a1.net/" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Austria</a>
            <li class="mb-2 px-1"><a href="http://www.vipmobile.rs" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">Vip Mobile</a>
            <li class="mb-2 px-1"><a href="https://www.a1.by/en/" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Belarus</a>
            <li class="mb-2 px-1"><a href="http://www.a1.bg" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Bulgaria</a>
            <li class="mb-2 px-1"><a href="https://www.a1.mk/" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Macedonia</a>
            <li class="mb-2 px-1"><a href="https://www.A1.si" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Slovenija</a>
            <li class="mb-2 px-1"><a href="https://fl1.li" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">FL1</a>
            <li class="mb-2 px-1"><a href="https://a1.digital/hr/" target="blank"
                class="text-white no-underline text-sm hover:text-red lg:text-base">A1 Digital</a>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
